.terminal {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    width: 100%;
    height: 90%;
    margin: 30px;

    background: #292727;
    border-radius: 8px;
    box-shadow: 0px 5px 76px rgba(0,0,0,0.4);
    padding: 14px;
}

@media screen and (min-width: 700px) {
    .terminal {
        max-width: 760px;
        max-height: 400px;
    }
}

.terminal-controls {
    display: flex;
    flex-direction: row;
}

.terminalControls-control {
    display: block;
    height: 10px;
    margin: 0 4px 8px 0;
    width: 10px;

    background: #383838;
    border-radius: 50%;
}

.terminal-body {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-between;
    overflow: hidden;
}

.terminal-output {
    margin: 0;
    white-space: pre-wrap;
}

.terminal-output--info {
    color: #867e74;
}

.terminal-output--error {
    color: #cc3c28;
}

.terminal-output--command::before {
    content: '> ';
}

.terminal-inputs {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.terminal-formattedInput {
    display: none;
    white-space: pre-wrap;
}

.terminal-input {
    flex: 1;
    color: #D1C7AE;
    font-family: Inconsolata, sans-serif;
    font-size: 18px;
    line-height: 120%;
    margin: 0;
    padding: 0;
    background: transparent;
    border: 0;
    outline: 0;
}

@media screen and (min-width: 700px) {
    .terminal-body {
        justify-content: flex-start;
    }

    .terminal-formattedInput {
        display: initial;
    }

    .terminal-input {
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
    }

    .terminal-cursor {
        background: #805649;
        display: inline-block;
        height: 20px;
        margin-bottom: -4px;
        width: 9px;

        animation: cursor-blink .7s alternate infinite ease;
    }
}

@keyframes cursor-blink {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.terminal-suggestions {
    display: flex;
    flex-direction: row;
    margin-top: 8px;
}
